

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: rgb(194, 239, 239);
    color: black;
    padding: 20px;
    border: 5px solid black;
    text-align: center;
}

.header a {
    color: blue;
}

.skills-table {
    background-color: rgb(83, 165, 42);
    padding: 20px;
    border: 5px solid black;
    text-align: left;
    margin-top: 20px;
}

.skills-table table {
    width: 100%;
    border-collapse: collapse;
}

.skills-table th,
.skills-table td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    background-color: aliceblue;
}

.skills-table th {
    background-color: aqua;
}

.button-section {
    margin-top: 20px;
    text-align: center;
}

.button-section label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
}

.button-section input {
    padding: 10px;
    font-size: 16px;
}

.button-section button {
    background-color: green;
    color: white;
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-section button:hover {
    background-color: green;
}

 .update-section {
    position: fixed;
    top: 10px; 
    right: 10px; 
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f7f7f7;
}

.update-section p {
    margin: 0;
    font-size: 18px;
}

